<div class="row margin-top-first">
  <div class="col-lg-12">
    <a class="btn btn-primary m-b-15" routerLink="../../">{{'page.common.action.back' | i18n}}</a>
  </div>

  <div class="col-lg-8">
    <div class="ibox">
      <div class="ibox-title">
        <h5>{{'page.individual.invoices.buttons.create_invoice' | i18n}}</h5>
      </div>
      <div class="ibox-content">

        <div *ngIf="!coins || !templates" class="loader-container is-divtable">
          <div class="loading-spinner"></div>
        </div>

        <app-invoice-form *ngIf="coins && templates && !resultInvoice" [coins]="coins" [templates]="templates"
                          (result)="setResult($event)"></app-invoice-form>

        <app-creating-result *ngIf="resultInvoice" [invoice]="resultInvoice"></app-creating-result>
      </div>
    </div>
  </div>
</div>
