.bg_card {
  position: absolute;
  top: 0;
  left: 0;
  height: 230px;
  width: 370px;
  background-color: #fafbfb;
  z-index: 2;
  box-shadow: 0 0 1px 1px #e5e7ea;
  -moz-box-shadow: 0 0 1px 1px #e5e7ea;
  -webkit-box-shadow: 0 0 1px 1px #e5e7ea;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 16px 16px 20px;
  box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
  .bg_card {
    width: 270px;
  }
}

@media only screen and (max-width: 570px) {
  .bg_card {
    display: block;
    position: relative;
    margin-bottom: 15px;
  }
}
