<div class="row margin-top-first">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>{{'page.cashier.cashbox_day' | i18n}}</h5>
      </div>

      <div class="ibox-content">
        <div *ngIf="!currentWorkingDay && !dayIsPending && !noOpenDay" class="loader-container is-divtable">
          <div class="loading-spinner"></div>
        </div>

        <div *ngIf="currentWorkingDay?.status == 'requested_to_close' || dayIsPending"
             [innerHTML]="'page.cashier.cashbox_day.blocked' | i18n"></div>

        <div *ngIf="noOpenDay || currentWorkingDay?.status == 'closed'">
          <div>
            <button class="btn btn-primary" (click)="openDay()">
              <span>{{'page.cashier.cashbox_day.open' | i18n}}</span>
            </button>
          </div>
        </div>

        <div *ngIf="currentWorkingDay">
          <div>
            <button class="btn btn-primary" *ngIf="currentWorkingDay.status == 'opened'" (click)="closeDay()">
              <span>{{'page.cashier.cashbox_day.close' | i18n}}</span>
            </button>

          </div>

          <div *ngIf="currentWorkingDay.status == 'opened'">
            <div class="operations">
              <div>{{'page.cashier.cashbox_day.operations' | i18n}}:</div>

              <div>
                <a class="btn btn-primary" routerLink="withdrawal">{{'page.cashier.cashbox_day.withdraw_cash' | i18n}}</a>
                <a class="btn btn-primary" routerLink="top-up">{{'page.cashier.cashbox_day.top_up' | i18n}}</a>
                <a class="btn btn-primary" routerLink="operations">{{'page.cashier.system' | i18n}}</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
