.tabs_group {
  position: relative;
  float: left;
  width: 240px;
  z-index: 2;
  border-right: 1px solid #e5e7ea;
  background: #f6f7f8;
  -moz-transition: left 0.1s linear;
  -o-transition: left 0.1s linear;
  -webkit-transition: left 0.1s linear;
  transition: left 0.1s linear;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .tabs_group {
    position: fixed;
    z-index: 100;
    top: 75px;
    left: -240px;
    overflow-y: auto;
    bottom: 0;
  }
}
