<div class="row">
  <div class="col-md-6">
    <h3>{{'page.fin_spec.gate_profile.creation.title' | i18n}}</h3>
    <div *ngIf="currencies">
      <select [(ngModel)]="selectedCurrency" class="form-control">
        <option *ngFor="let currency of currencies" value="{{currency.code}}">{{currency.code}}</option>
      </select>

      <div class="action-btns two-action-btns">
        <a routerLink="../../" class="btn btn-primary action-btn"><b>{{'page.common.action.back' | i18n}}</b></a>

        <button class="btn btn-primary action-btn" [appInButtonLoader]="waiting" (click)="onAdd()">
          <span>{{'page.common.action.create' | i18n}}</span>
        </button>
      </div>
    </div>

    <div *ngIf="!currencies" class="loader-container is-divtable">
      <div class="loading-spinner"></div>
    </div>
  </div>
</div>
