<div class="table-row">
  <div class="table-cell text">
    <div>{{user.name}}</div>
    <div>{{'page.common.id' | i18n}}: {{user.id}}</div>
    <div>{{user.contact.email}}</div>
    <div>{{user.contact.phone}}</div>
    <div>{{user.createdAt | date: 'dd.MM.yyyy'}}</div>
  </div>
  <div class="table-cell status">
    <div><span>{{(user.active ? 'entity.status.active' : 'entity.status.blocked') | i18n}}</span></div>
  </div>
  <div class="table-cell text">
    <div>{{(roles[user.members[0].role] | i18n) || user.members[0].role}}</div>
    <div [innerHTML]="'page.supervisor.user.view.role_descr' | i18n:
    {'0': '', '1': user.members[0].organization.name, '2' : user.members[0].organization.type}"></div>

    <div>{{'page.common.id' | i18n}}: {{user.members[0].organization.id }}</div>
  </div>
  <div class="table-cell text">
    <div *ngIf="user.active"><a (click)="onDeactivate()">{{'page.common.action.deactivate' | i18n}}</a></div>
    <div *ngIf="!user.active"><a (click)="onActivate()">{{'page.common.action.activate' | i18n}}</a></div>
    <div><a [routerLink]="[user.id]">{{'page.common.action.view' | i18n}}</a></div>
  </div>
</div>
