<a routerLink="../" class="btn btn-primary  right" style="margin-top: 25px; margin-bottom: 20px; margin-right: 15px;">Back</a>
<div class="ibox-content">
  <div class="row">
    <div class="col-lg-5">
      <app-loyalty-groups-creating></app-loyalty-groups-creating>
    </div>

    <div class="col-lg-7">
      <app-loyalty-groups-table></app-loyalty-groups-table>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <!--тут должен быть список с подсказками для правил лояльности-->
    </div>
  </div>

</div>
