<style type="text/css">
  .general-statistics .ibox-title {
    padding: 15px 0;
  }
</style>


<!--<div class="row general-statistics" style="margin-top: 25px;">

  <div class="col-lg-6">
    <div class="row">

      <div class="col-lg-7">
        <app-dashboard-new-clients></app-dashboard-new-clients>
      </div>

      <div class="col-lg-5">
        <app-dashboard-all-users></app-dashboard-all-users>
        <app-dashboard-bonus-added></app-dashboard-bonus-added>
        <app-dashboard-bonus-used></app-dashboard-bonus-used>
      </div>

    </div>
  </div>

  <div class="col-lg-6">
    <app-dashboard-bonus-charts></app-dashboard-bonus-charts>
  </div>

</div>-->


<div class="row">

  <div class="col-lg-3">
    <app-dashboard-pos></app-dashboard-pos>

    <app-dashboard-news></app-dashboard-news>
  </div>

  <div class="col-lg-6">
    <app-dashboard-purchases></app-dashboard-purchases>
  </div>

  <div class="col-lg-3">
    <app-dashboard-promotions></app-dashboard-promotions>
  </div>

</div>
