
<div class="wrapper wrapper-content  animated fadeInRight article" style="padding-top: 0">
  <a (click)="onBack()" class="btn btn-primary  right"
     style="margin-top: 25px; margin-bottom: 20px; margin-right: 15px;">Back</a>
  <div class="row">
    <div class="col-lg-9">
      <div class="ibox">
        <div class="ibox-content">
          <!--<div class="pull-right">-->
          <!--<button class="btn btn-white btn-xs" type="button">Model</button>-->
          <!--<button class="btn btn-white btn-xs" type="button">Publishing</button>-->
          <!--<button class="btn btn-white btn-xs" type="button">Modern</button>-->
          <!--</div>-->
          <div class="text-center article-title">
            <span *ngIf="messageOfNews" class="text-muted"><i class="fa fa-clock-o"></i> {{messageOfNews.createdAt | date: 'd MMM y'}}</span>
            <h1>
              {{ newsName }}
            </h1>
          </div>
          <div style="overflow: hidden" *ngIf="messageOfNews">
            <img *ngIf="bigPictureUrl" [src]="bigPictureUrl" alt=""
                 style="max-width: 50%; float: left; margin: 10px 25px 10px 0px">
            <p *ngFor="let mess of textOfNews" style="text-indent: 20px;">
              {{mess}}
            </p>
          </div>

          <div *ngIf="!messageOfNews" class="loader-container is-divtable">
            <div class="loading-spinner"></div>
          </div>
          <!--<hr>-->
          <!--<div class="row">-->
          <!--<div class="col-md-6">-->
          <!--<h5>Tags:</h5>-->
          <!--<button class="btn btn-primary btn-xs" type="button">Model</button>-->
          <!--<button class="btn btn-white btn-xs" type="button">Publishing</button>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
          <!--<div class="small text-right">-->
          <!--<h5>Stats:</h5>-->
          <!--<div> <i class="fa fa-comments-o"> </i> 56 comments </div>-->
          <!--<i class="fa fa-eye"> </i> 144 views-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>


</div>
