<div class="ibox float-e-margins">
  <div class="ibox-title">
    <!-- <span class="label label-success pull-right">За месяц</span> -->
    <h5 class="text-center" style="float: none;display: block;margin: 0;">Redeeming bonus points   </h5>
  </div>
  <div class="ibox-content" style="padding: 10px 20px;">
    <h1 class="no-margins text-center" style="font-size: 24px;line-height: 1;">{{bonTo.toFixed(2)}}</h1>
    <!--  <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
    <!-- <small>Новых пользователей</small> -->
  </div>
</div>
