<div class="ibox">
  <div class="ibox-title">
    <h5>Contracts</h5>
  </div>
  <div class="ibox-content">

    <div *ngIf="!contracts" class="loader-container is-divtable">
      <div class="loading-spinner"></div>
    </div>

    <div *ngIf="contracts">
      <div class="table-wrapper">
        <div class="table contracts-table">
          <div class="table-header">
            <div class="table-cell text">{{'entity.contract' | i18n}}</div>
            <div class="table-cell text">{{'page.common.action' | i18n}}</div>
          </div>

          <app-contracts-item *ngFor="let contract of contracts" [contract]="contract" ></app-contracts-item>
        </div>
      </div>

      <p *ngIf="!contracts.length" class="not-found-msg">There are no contracts</p>
    </div>

    <div class="pagination-btns" *ngIf="totalPages > 1">
      <app-pagination-buttons [page]="page" [totalPage]="totalPages" (changePage)="changePage($event)">
      </app-pagination-buttons>
    </div>

  </div>
</div>
